<h1>Rulings creation</h1>

<form action="{{ path('admin_rulings_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
	<label>Cards<input type="text" name="indexkeys"></label>
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_rulings') }}">
            Back to the list
        </a>
    </li>
</ul>
