{% extends 'NetrunnerdbCardsBundle::main.html.twig' %}

{% block title %}API Documentation{% endblock %}

{% block content %}

<h1>{{ block('title') }}</h1>

<tt>http://netrunnerdb.com</tt> can be queried via an http API.

<h2>All Sets</h2>

<tt>/api/sets/</tt> returns data about all the sets in the database.

<h2>All Cards</h2>

<tt>/api/cards/</tt> returns data about all the cards in the database.

<h2>One Set</h2>

<tt>/api/set/{code}</tt> returns card data about the cards in the set identified by <tt>code</tt> (core for Core Set, etc).

<h2>One Card</h2>

<tt>/api/card/{code}</tt> returns card data about the card identified by <tt>code</tt> (01001 for Noise, etc).

<h2>One Decklist</h2>

<tt>/api/decklist/{id}</tt> returns name, author and composition of the decklist identified by <tt>id</tt> (as found in decklist urls).

<h2>All Decklists for One Day</h2>

<tt>/api/decklists/{Y-m-d}</tt> returns all decklists published at the given date. Example: <tt>/api/decklists/2013-12-31</tt>.

<h2>Returned value</h2>

Data returned is in json format.<br>
Set and card data include a "url" key giving the absolute url of the page that holds the data.<br>
Card data include a "imagesrc" key giving the relative url of the image of the card.<br>

<h2>jsonp</h2>

Optional GET parameter "jsonp" for script tags.

<h2>Examples</h2>

<a href="/api/card/01001">/api/card/01001</a> returns data for Noise<br>
<a href="/api/sets/?jsonp=parseSets">/api/sets/?jsonp=parseSets</a> returns data for all sets wrapped in a call to parseSets()<br>

<h2>Encoding</h2>

The response is in ascii encoding. Non-ascii characters are encoded with \uXXXX with XXXX their hexadecimal unicode value.<br>
To test your application, 3 cards are useful:
<ul>
<li><a href="/api/card/02020">02020</a> to test Unicode characters, [Credits] and [Subroutine] tokens, <tt>&lt;strong></tt> and <tt>&lt;sup></tt> markup for traces and keywords.</li>
<li><a href="/api/card/02046">02046</a> to test Unicode characters, :, ", [Memory Unit] token-with-space</li>
<li><a href="/api/card/01036">01036</a> to test ", ', &</li>
</ul>

<h2>Caching</h2>

<ul>
<li>Card data include a "last-modified" key giving the timestamp of the data (CET)</li>
<li><tt>/api/cards/</tt>, <tt>/api/card/</tt> and <tt>/api/set/</tt> responses use both HTTP cache expiration (max-age) and cache validation (last-modified). <b>Please use both when building your queries</b>.</li>
</ul>

<h2>CORS</h2>

<ul>
<li>All API responses include a CORS header: <tt>Access-Control-Allow-Origin:*</tt></li>
</ul>

<h2>Embedded Display Mode</h2>

If the parameter "mode=embed" is added to an url, the page is served without the header and footer and navigation and search stuff, that is, with only the main content. See for example <a href="/card/01020?mode=embed">/card/01020?mode=embed</a> or <a href="/set/hs?mode=embed">/set/hs?mode=embed</a> or <a href="/find/?q=e%3Aasis&sort=set&view=scan&mode=embed">/find/?q=e%3Aasis&sort=set&view=scan&mode=embed</a>.

<h2>Localization</h2>

Add a parameter _locale=xx to get the results in xx locale.

{% endblock %}
