{% extends 'NetrunnerdbCardsBundle::main.html.twig' %}

{% block title %}Changelog{% endblock %}

{% block content %}

<h1>{{ block('title') }}</h1>

<dl class="changelog">
{% for change in changes %}
<dt>{{ change.date }}</dt><dd>{{ change.text|raw }}</dd>
{% endfor %}
</dl>

{% endblock %}
