<hr>

<div class="header footer">
	<div class="langs header-menu left-menu" style="">
	{% if locales is not defined %}
	{% include 'NetrunnerdbCardsBundle:Default:langs.html.twig' %}	
	{% else %}
	{{ locales|raw }}
	{% endif %}
	</div>
	<div class="right-menu header-menu">
	<ul class="header-menu">
		<li><a href="{{ path('netrunnerdb_netrunner_cards_api') }}">API</a></li>
		<li><a href="{{ path('netrunnerdb_netrunner_cards_about') }}">{% trans %}About{% endtrans %}</a></li>
	</ul>
	</div>
	
</div>

