<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Android:Netrunner Card Database{% endblock %}</title>
		<link rel="icon" sizes="16x16" href="/favicon.png" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="viewport" id="viewport" content="width=480">
		<meta name="description" content="{{ metadescription|default('') }}">
		<link rel="stylesheet" href="{{ asset('/web/bundles/netrunnerdbcards/css/main.css') }}" />
		<link rel="stylesheet" href="{{ asset('/web/bundles/netrunnerdbcards/css/flags.css') }}" />
{% if app.environment == 'prod' %}		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-38794468-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>{% endif %}
	</head>
	<body class="{{ bodyclass|default('') }}">
<div id="wrapper">
	{% block wrapper %}{% endblock %}
</div>
	</body>
</html>
